<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="app_tree" model="ir.ui.view">
        <field name="name">hospital.app.tree</field>
        <field name="model">hospital.appointment</field>
        <field name="arch" type="xml">

            <tree>
                <field name="patient_id"/>
                <field name="age"/>
                <field name="appointment_time"/>
                <field name="booking_date"/>
                <field name="gender1"/>
            </tree>
        </field>
    </record>

    <record id="patient_app_form" model="ir.ui.view">
        <field name="name">hospital.app.form</field>
        <field name="model">hospital.appointment</field>
        <field name="arch" type="xml">
            <form>


                <header>
                    <button name="wiz2" string="wizard of one to many" type="object"/>


                </header>

                <sheet>
                    <group>
                        <group>
                            <field name="patient_id"/>
                            <field name="appointment_time"/>
                            <field name="age"/>
                        </group>
                        <group>
                            <field name="booking_date"/>
                            <field name="gender1"/>
                        </group>
                    </group>


                    <notebook>
                        <page name="pharma_ids" string="products">
                            <field name="pharma_ids">
                                <tree>
                                    <field name="product_id" string="products buyied by patient"/>
                                    <field name="price"/>
                                    <field name="qty"/>

                                </tree>
                                <form>
                                    <group>
                                        <field name="product_id"/>
                                        <field name="price"/>
                                        <field name="qty"/>
                                    </group>
                                </form>

                            </field>


                        </page>
                    </notebook>


                </sheet>
            </form>

        </field>
    </record>


    <record id="action_hospital_appointment" model="ir.actions.act_window">
        <field name="name">Appointments</field>
        <field name="res_model">hospital.appointment</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view no_content_smiling_face">
                Create
            </p>
        </field>
    </record>

    <menuitem id="appointment_menu"
              name="Appointments"
              parent="hospital_root"
              action="action_hospital_appointment"
              sequence="0"/>

</odoo>